:root {
  --primary-color: #7FB7BE;
  --secondary-color: #D3F3EE;
  --accent1-color: #DACC3E;
  --accent2-color: #52868d;
  --extra-color: #D3F3EE;
  --heading-font: 'Roboto', sans-serif;
  --body-font: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

/* Header */
header {
  background-color: var(--primary-color);
  padding: 20px;
  height: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 70px;
  height: auto;
  margin-top: -10px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  color: var(--accent1-color);
}

.nav-links a:hover {
  color: var(--accent2-color);
}

/* Hero Section */
.hero-trip {
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.hero-trip img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-text {
  position: absolute;
  top: px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 2;
}

.hero-text p {
  color: var(--accent1-color);
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin: 0;
}

.hero-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: var(--accent1-color);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-weight: bold;
}

.hero-button:hover {
  background-color: var(--accent2-color);
}

/* Activities Section */
.activities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.activity-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activities img {
  width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.activities p {
  margin-top: 0.5rem;
  font-size: 32px;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  border-top: 2px solid var(--primary-color);
  font-size: 0.9rem;
  background-color: var(--secondary-color);
}

.footer-left {
  flex: 1;
}

.footer-left p {
  margin: 0;
  text-align: left;
}

footer .socialmedia {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

footer .socialmedia a {
  text-decoration: none;
}

footer .socialmedia img {
  width: 25px;
  height: auto;
}