:root {
  --primary-color: #7FB7BE;   /* teal */
  --secondary-color: #D3F3EE; /* mint */
  --accent1-color: #DACC3E;   /* yellow */
  --accent2-color: #BC2C1A;   /* red */
  --extra-color: #7D1538;     /* wine */
  --heading-font: 'Roboto', sans-serif;
  --body-font: 'Georgia', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    height: 75px;
}

header img {
    max-width: 70px;
    height: auto;
    margin-top: -10px;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1 {
    position: absolute;
    top: 100px;
    width: 840px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    top: 150px;
    width: 800px;
    padding: 16px;
    text-align: center;
}

footer p {
    position: relative;
    float: left;
}

footer img {
    position: relative;
    float: right;
    margin: 5px;
    right: 18px;
}

/* Class Selectors */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-weight: 600;
    color: var(--accent1-color)
}

.nav-links a:hover {
    color: var(--accent2-color);
}

.hero {
    position: relative;
    width: 100%;
    height: auto;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 25px;
    height: auto;
}
