/* CSS for Rafting About Us Page */

:root {
    --primary-color: #7FB7BE;
    --secondary-color: #D3F3EE;
    --accent1-color: #DACC3E;
    --accent2-color: #BC2C1A;
    --extra-color: #7D1538;
    --heading-font: 'Roboto', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

header {
    background-color: var(--primary-color);
    padding: 5px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 70px;
    height: auto;
    margin-top: -10px;
}

.nav-container {
    display: flex;
    gap: 20px;
}

.nav-container a {
    text-decoration: none;
    font-weight: 600;
    color: var(--accent1-color);
}

.nav-container a:hover {
    color: var(--accent2-color);
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
}

.hero>img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    padding: 16px;
    text-align: center;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
}

footer p {
    float: left;
}

.socialmedia {
    float: right;
    margin-top: 10px;
}

.socialmedia a {
    text-decoration: none;
    margin-left: 10px;
}

.socialmedia img {
    width: 25px;
    height: auto;
}