:root {
    --primary-color: #7FB7BE;
    --secondary-color: #D3F3EE;
    --accent1-color: #DACC3E;
    --accent2-color: #BC2C1A;
    --extra-color: #7D1538;
    --heading-font: 'Roboto', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    height: auto;
}

.hero-rafting {
    background-color: aqua;
    height: 400px;
    width: 100%;
}

.hero-rafting h1 {
    text-align: center;
}

.reservations-message p {
    text-align: center;
}

.book-now {
    background-color: aquamarine;
    width: 300px;
    height: 50px;
    text-align: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 70px;
    height: auto;
    margin-top: -10px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-weight: 600;
    color: var(--accent1-color);
}

.nav-links a:hover {
    color: var(--accent2-color);
}


/* footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    border-top: 2px solid var(--primary-color);
    font-size: 0.9rem;
    background-color: var(--secondary-color);
}

.footer-left {
    flex: 1;
}

.footer-left p {
    margin: 0;
    text-align: left;
}

footer .socialmedia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

footer .socialmedia a {
    text-decoration: none;
}

footer .socialmedia img {
    width: 25px;
    height: auto;
}