:root {
  --teal: #7FB7BE;
  --mint: #D3F3EE;
  --yellow: #DACC3E;
  --red: #BC2C1A;
  --wine: #7D1538;
  --body-font: 'Georgia', serif;
  --heading-font: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: var(--wine);
    padding: 20px;
    height: 75px;
}
header img {
    max-width: 70px;
    height: auto;
    margin-top: -10px;
}
/* Class Selectors */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav-links a {
    text-decoration: none;
    font-weight: 600;
    color: var(--yellow)
}
.nav-links a:hover {
  color: var(--red);
}
