:root {
    --main-bg-color: bisque;
    --nav-bg-color: royalblue;
    --primary-text-color: royalblue;
    --link-color: white;
    --img-width: 150px;
    --img-border: 1px solid black;
    --img-padding: 2px;
    --img-shadow: 0 0 30px gray;
    --text-align-center: center;
    --main-max-width: 2000px;
    --nav-padding: 10px;
    --link-padding: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--main-bg-color);
}

main {
    max-width: var(--main-max-width);
}

nav {
    background-color: var(--nav-bg-color);
    padding: var(--nav-padding);
}

nav a {
    color: var(--link-color);
    display: block;
    padding: var(--link-padding);
    text-align: var(--text-align-center);
}

h1 {
    color: var(--primary-text-color);
    text-align: var(--text-align-center);
}


img,
aside img {
    width: var(--img-width);
    height: auto;
    border: var(--img-border);
    padding: var(--img-padding);
    box-shadow: var(--img-shadow);
    display: block;
    margin: 0 auto;
}

p {
    padding: 0;
    text-align: var(--text-align-center);
}

aside {
    color: var(--primary-text-color);
}

aside h2 {
    text-align: var(--text-align-center);
}

aside p {
    text-align: var(--text-align-center);
    color: black;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 10%);
    padding: 1rem;
    border-color: royalblue;
}